{% load movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1> <a href="index.html" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">DjangoMovie</a></h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="/">Главная</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                    <a href="/">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                        <li><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li>
<!--                <li {% if 'dashboard' in request.path %}-->
<!--                        class="nav-item active mr-3"-->
<!--                      {% else%}-->
<!--                        class="nav-item mr-3"-->
<!--                      {% endif%}>-->
                    <a class="nav-link" href="{% url 'dashboard' %}">{{user.username}}</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>Выйти
                    </a>
                    <form action="{% url 'logout'%}" id="logout" method="POST">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'addmovie' %}">
                        <i class="fas fa-sign-in-alt"></i> Добавить фильм</a>
                </li>
            {% else%}
                <li>
<!--              <li {% if 'register' in request.path%}-->
<!--                    class="nav-item active mr-3"-->
<!--                  {% else%}-->
<!--                    class="nav-item mr-3"-->
<!--                  {% endif%}>-->
                <a class="nav-link" href="{% url 'register' %}">
                  <i class="fas fa-user-plus"></i> Регистрация</a>
              </li>
                <li>
<!--              <li {% if 'login' in request.path %}-->
<!--                    class="nav-item active mr-3"-->
<!--                  {% else%}-->
<!--                    class="nav-item mr-3"-->
<!--                  {% endif%}>-->
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt"></i> Вход</a>
              </li>
              <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'addmovie' %}">
                  <i class="fas fa-sign-in-alt"></i> Добавить фильм</a>
              </li>
            {% endif %}
<!--                {% if user.is_authenticated %}-->
<!--                    {% csrf_token %}-->
<!--                    <li><a href="{% url 'register' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Регистрация</a></li>-->
<!--                    <li><a href="{% url 'login' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a></li>-->
<!--                    <li><a href="{% url 'addmovie' %}" class="mb-4 editContent" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Добавить фильм</a></li>-->
<!--                {% else %}-->
<!--                    <li><a href="{% url 'dashboard' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">{{ user.username }}</a></li>-->
<!--                    <li><a href="{% url 'logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Выйти</a></li>-->
<!--                    <li><a href="{% url 'addmovie' %}" class="mb-4 editContent" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Добавить фильм</a></li>-->
<!--                {% endif %}-->
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<div class="banner-info">
    <p style="text-align: right size: 100px" >Кино поиск</p>
</div>
<!-- //header -->
<!--/banner-->

