{% load static %}

<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1> <a href="index.html" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">DjangoMovie</a></h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="/">Главная</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                    <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        <li><a href="moviesingle.html">Фильмы</a></li>
                        <li><a href="moviesingle.html">Сериалы</a></li>
                        <li><a href="moviesingle.html">Мультфильмы</a></li>
                    </ul>
                </li>

                {% if is_authenticatedFalse %}
                {% csrf_token %}
                    <li><a href="{% url 'register' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Регистрация</a></li>
                    <li><a href="{% url 'login' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a></li>
                    <li><a href="{% url 'addmovie' %}" class="mb-4 editContent" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Добавить фильм</a></li>
                {% else %}
                    <li><a href="{% url 'dashboard' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Выйти</a></li>
                    <li><a href="{% url 'addmovie' %}" class="mb-4 editContent" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Добавить фильм</a></li>

                {% endif %}
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<div class="banner-info">
    <p style="text-align: right size: 100px" >Кино поиск</p>
</div>
<!-- //header -->
<!--/banner-->

